@inherits LayoutComponentBase
<!--<div class="sidebar">
    <NavMenu />
</div>-->

<!--<div class="main">-->
<div id="container">
    <!--<div class="content px-4">-->
    <center>
        @Body
    </center>
    <!--</div>-->
</div>

    <BlazoredModal />
